<h1>Back office</h1>
<p>
  <%= link_to "Управление постами", posts_path %>
</p>
<p>
  <%= link_to "Управление каталогом", manage_categories_path %>
</p>
<p>
  <%= link_to "Управление продуктами", manage_products_path %>
</p>