<% provide(:title, 'Contacts') %>

<article class="content-item page">
	<div class="breads"><a href="#">Главная</a>&nbsp;&rsaquo;&nbsp;Контакты</div>

	<div class="row">
		<div class="span8">
			<div class="map">
				<img src="/images/map.jpg" width="618" height="447"> 
			</div>       
		</div>

		<div class="span4">
			<h1>Medfox</h1>
			<p><b>Телефон</b> (многоканальный): +7(495) 646-70-78</p>
			<p><b>Адрес:</b> Москва, Южнопортовая ул., д.5<br>
				<span class="dop-info">Кожуховская<br>
					50 метров<br>
					ТТК, Волгоградский проспект, проспект Андропова
				</span>
			</p>

		</div>
	</div>    

</article>