<% provide(:title, 'Home') %>
<%= render 'layouts/carousel' %>
<hr style="margin-bottom: 7px; margin-top: -13px;">
<h1>Уважаемые коллеги  и друзья!</h1>
<div class="row">
<div class="span6">            
	<p>Компания Medicon работает на медицинском рынке России с 2004 года и является владельцем торговой марки Medfox.</p>
	<p>Партнерские отношения с мировыми производителями медицинской техники позволяют нам обеспечить недорогие и качественные условия поставки и сервисного обслуживания <a href="#">медицинского оборудования</a>.</p>
	<p>Основная задача компании – качественная, бесперебойная работа медицинского учреждения с использованием современного оборудования. Наши специалисты высокого уровня в области биоинженерии и биотехнологий помогут вам с выбором при оснащении лечебного учреждения современным высокотехнологичным медицинским оборудованием. </p>
</div>
<div class="span6">
	<p>В нашей компании действует принцип «Внедрять лучшее». Мы с радостью расскажем Вам о новых разработках в  области медицины.</p>
	<p>Выбирая нас, как поставщика медицинского оборудования, вы выбираете опыт и знания  нашей команды.</p>
	<p>Мы продаем медицинское оборудование не как все поставщики, так как, прежде всего, мы помогаем решить сложившуюся проблему клиента. Мы всегда рады помочь Вам  выбрать нужное по производительности и качеству  оборудование, и поможем решить проблему по финансированию покупки.</p>
	<P>Не боясь трудностей, меняя мир!</p>

		<p>С уважением, Команда Medfox</p>
	</div>
</div>
<%= render 'layouts/promo' %>