<% provide(:title, 'Оборудование') %>

<div class="breads"><%= link_to "Главная", root_path %>&nbsp;&rsaquo;&nbsp;Оборудование</div>

<h1>Оборудование</h1>
<div class="row">
  <% @products.each do |p| %>
      <div class="span3 one-item">
        <div class="metadata">
        </div>
        <h4><%= link_to p.name, product_path(p) %></h4>

        <p><%= p.short_description %>...</p>

        <div class="thumb-img">
          <a href="#"><%= image_tag p.photo.url(:small) %></a>
        </div>
      </div>
  <% end %>
</div>