<div id="layout-footer" class="group">
	<div id="footer">
		<div class="phone-footer">+7 (495) 646-70-78</div>
		<div id="footer-quad" class="group">
		</div>
		<div id="footer-sig" class="group">
			<div class="zone-footer">    <div class="credits"><span class="poweredby"><a href="#" target="_blank">Medfox</a></span> <span class="copyright">© Все права защищены 2012.</span></div>
			<div class="user-display">
			</div></div>
		</div>
	</div>
</div>