<header id="layout-header" class="group">
  <div id="header">
    <div class="zone zone-header">
      <h1 id="branding"><a class="logo-bg" href="#">Medicon</a><span class="slogan"><a href="#">Продажа медицинского
        оборудования</a></span></h1></div>
    <div class="header-right">
      <div class="phone">+7 (495) 646-70-78</div>
      <div class="mail"><a href="mailto:office@med-fox.ru<">office@med-fox.ru</a></div>
    </div>
  </div>
</header>